<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Ejercicios de Espalda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides mode="ios" scrollbar="true" #espaldaEjercicios options="slideOpts">
    <!-- 1 -->
    <ion-slide>
      <img src="../../../assets/gifs/Ejercicio1Espalda.gif" alt="Espalda">
      <div class="ion-padding">
        <h3>Espalda<br><span></span></h3>
        
        <h1 class="reps">x12</h1>
      </div>
      
      <ion-grid fixed>
        <ion-row>
          <ion-col offset="3" size="6">
            <ion-button (click)="siguiente()" expand="block"  shape="round">
              <ion-icon slot="start" name="checkmark-sharp"></ion-icon>
              <span>Listo</span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <ion-button (click)="atras()" expand="block" fill="clear" shape="round">
                <ion-icon slot="start" name="play-skip-back-sharp"></ion-icon>
                Anterior
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button (click)="siguiente()" expand="block" fill="clear" shape="round">
                <ion-icon slot="end" name="play-skip-forward-sharp"></ion-icon>
                Omitir
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>
    <!-- 2 -->
    <ion-slide>
      <img src="../../../assets/gifs/Ejercicio2Espalda.gif" alt="Espalda">
      <div class="ion-padding">
        <h3>Espalda<br><span></span></h3>
        
        <h1 class="reps">x12</h1>
      </div>
      
      <ion-grid fixed>
        <ion-row>
          <ion-col offset="3" size="6">
            <ion-button (click)="siguiente()" expand="block"  shape="round">
              <ion-icon slot="start" name="checkmark-sharp"></ion-icon>
              <span>Listo</span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <ion-button (click)="atras()" expand="block" fill="clear" shape="round">
                <ion-icon slot="start" name="play-skip-back-sharp"></ion-icon>
                Anterior
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button (click)="siguiente()" expand="block" fill="clear" shape="round">
                <ion-icon slot="end" name="play-skip-forward-sharp"></ion-icon>
                Omitir
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>
    <!-- 3 -->
    <ion-slide>
      <img src="../../../assets/gifs/Ejercicio3Espalda.gif" alt="Espalda">
      <div class="ion-padding">
        <h3>Espalda<br><span></span></h3>
        
        <h1 class="reps">x12</h1>
      </div>
      
      <ion-grid fixed>
        <ion-row>
          <ion-col offset="3" size="6">
            <ion-button (click)="siguiente()" expand="block"  shape="round">
              <ion-icon slot="start" name="checkmark-sharp"></ion-icon>
              <span>Listo</span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <ion-button (click)="atras()" expand="block" fill="clear" shape="round">
                <ion-icon slot="start" name="play-skip-back-sharp"></ion-icon>
                Anterior
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button (click)="siguiente()" expand="block" fill="clear" shape="round">
                <ion-icon slot="end" name="play-skip-forward-sharp"></ion-icon>
                Omitir
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>
    <!-- 4 -->
    <ion-slide>
      <img src="../../../assets/gifs/Ejercicio4Espalda.gif" alt="Espalda">
      <div class="ion-padding">
        <h3>Espalda<br><span></span></h3>
        
        <h1 class="reps">x12</h1>
      </div>
      
      <ion-grid fixed>
        <ion-row>
          <ion-col offset="3" size="6">
            <ion-button (click)="siguiente()" expand="block"  shape="round">
              <ion-icon slot="start" name="checkmark-sharp"></ion-icon>
              <span>Listo</span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <ion-button (click)="atras()" expand="block" fill="clear" shape="round">
                <ion-icon slot="start" name="play-skip-back-sharp"></ion-icon>
                Anterior
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button (click)="siguiente()" expand="block" fill="clear" shape="round">
                <ion-icon slot="end" name="play-skip-forward-sharp"></ion-icon>
                Omitir
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>
