<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-title>
      Gym Fit Rutinas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <h4>PRINCIPIANTE</h4>

  <ion-card routerLink="espalda">
    <img src="../../assets/portadaEspalda.jpg" alt="Ejercicios de Espalda">
    <div class="img-gradient"></div>
    <ion-card-title>ESPALDA</ion-card-title>
    <ion-card-subtitle>PRINCIPIANTE</ion-card-subtitle>
  </ion-card>

  <ion-card routerLink="brazo">
    <img src="../../assets/portadaBrazo.jpeg" alt="Ejercicios de Brazo">
    <div class="img-gradient"></div>
    <ion-card-title>BRAZO</ion-card-title>
    <ion-card-subtitle>PRINCIPIANTE</ion-card-subtitle>
  </ion-card>

  <ion-card routerLink="pierna">
    <img src="../../assets/portadaPierna.jpg" alt="Ejercicios de Pierna">
    <div class="img-gradient"></div>
    <ion-card-title>PIERNA</ion-card-title>
    <ion-card-subtitle>PRINCIPIANTE</ion-card-subtitle>
  </ion-card>

  <ion-card routerLink="abdomen">
    <img src="../../assets/portadaAbdomen.jpg" alt="Ejercicios de Abdomen">
    <div class="img-gradient"></div>
    <ion-card-title>ABDOMEN</ion-card-title>
    <ion-card-subtitle>PRINCIPIANTE</ion-card-subtitle>
  </ion-card>


</ion-content>
